In [1]:
import numpy as np
import pandas as pd

## series

In [2]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [3]:
s

a    0.815670
b    1.518339
c   -1.223088
d    0.716661
e    0.349173
dtype: float64

In [4]:
d = {"b": 1, "a": 0, "c": 2}

In [5]:
pd.Series(d)

b    1
a    0
c    2
dtype: int64

## Dataset

In [15]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': ["b", 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)
print(myvar['cars'][0])

    cars passings
0    BMW        b
1  Volvo        7
2   Ford        2

In [7]:
import pandas as pd

print(pd.__version__)

1.5.3

In [17]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

## Label

In [19]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': ["b", 7, 2]
}

myvar = pd.DataFrame(mydataset, index=['c','k','j']) #Label

print(myvar)

    cars passings
c    BMW        b
k  Volvo        7
j   Ford        2

In [ ]:
myvar.head()

## Key
You can also use a key/value object, like a dictionary, when creating a Series.

In [24]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

#### Series is like a column, a DataFrame is the whole table.

In [28]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

## locate row

In [29]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [30]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

# Name Index
### Same as Label

In [31]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [32]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

# Edit Max Row
use pd.options.display.max_rows = to edit maximum number of row shown

In [17]:
df = pd.read_csv('titanic-dataset/train.csv')
pd.options.display.max_rows = 10
# print(df)

# Read JSON

In [19]:
df = pd.read_json('data.js')

In [20]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [22]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.0
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.0
4        45    117       148     406.0
5        60    102       127       NaN

In [23]:
df.tail()

   Duration  Pulse  Maxpulse  Calories
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.0
4        45    117       148     406.0
5        60    102       127       NaN

In [24]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.0
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.0
4        45    117       148     406.0

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  5 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 240.0+ bytes
None